// Styling for the call to action section
.call-to-action {
  padding: 50px 0;
  h2 {
    margin: 0 auto 20px;
  }
}

.btn {
  &-down {
    @include button-image-center(52px, 52px, "../img/arrowdown.png");
    bottom:0;
    margin-bottom:30px;
  }
  &-up {
    @include button-image(104px, 104px, "../img/arrowup.png");
    text-align: center;
    margin-top: 90px;
  }
  &-play {
    @include button-image-center(73px, 73px, "../img/playbutton.png");
    margin-top:20px;
  }
}
