// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #ffffff;

$theme-secondary: #e6212e;

$gray-base: #000 !default;
$gray-darker: #303030 !default;
$gray-dark: #6d6e71 !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: #f4f4f4 !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;

$line-shade: #ece8df;
